{{> header}}
<!-- Index -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/products.css">
{{> modales}}
<section class="main__container">
    <aside class="aside">
        <h2>Categorias</h2>
        {{#if data}}
        <input type="hidden" id="idDataHidden" value="{{data}}">
        {{/if}}
        <ul>
            {{#each categorias}}
            <li class="c-filter__li">
                <input class="c-filter__li--input" type="checkbox" name="cboxCategoriaName" id="cboxCategoriaId"
                    onclick="getProductos();" value="{{this.dataValues.id}}" {{#if
                    this.dataValues.check}}checked{{/if}}>
                <p>{{this.dataValues.nombre}}</p>
            </li>
            {{/each}}
        </ul>

        <h2>Precio</h2>
        <form class="form-price">
            <input type="number" min="{{minPrecio}}" max="{{maxPrecio}}" placeholder="Desde ${{minPrecio}}" required>
            <input type="number" min="{{maxPrecio}}" max="{{maxPrecio}}" placeholder="Hasta ${{maxPrecio}}" required>
            <button type="button">Filtrar</button>
        </form>
    </aside>
    <article class="list__products" id="productosJSON">
        {{#each productos}}
        <div class="container__products">
            <div class="container__products--details">
                <img class="container__products--img" src="/{{this.dataValues.imagen}}" alt="Producto">
                <div class="container__products--title">
                    <p>
                        {{this.dataValues.nombre}}
                    </p>
                    <span>
                        ${{this.dataValues.precio}}
                    </span>
                </div>
            </div>
            <div class="container__products--options">
                <span>
                    {{this.dataValues.descripcion}}
                </span>
                <a href="/producto/{{this.dataValues.id}}"></a>
                {{!-- <form action="/producto/" method="post">
                    <input type="hidden" name="id" value="{{this.dataValues.id}}">
                    <button>Ver Producto</button>
                </form> --}}
            </div>
        </div>
        {{/each}}
    </article>
</section>
{{> footer}}
<script src="/js/index.js"></script>
<script src="/js/producto/lista-productos.js"></script>