{{> administrador/header}}
<!-- admin -->
<link rel="stylesheet" href="/css/category.css">

<h1 class="title-section">Producto {{producto.dataValues.nombre}}</h1>
<section class="container__category">
    <table class="table__content">
        <thead>
            <tr>
                <th>Ingrediente</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Agregar</th>
            </tr>
        </thead>
        <tbody>
            {{#each ingredientes}}
            <tr>
                <td>{{this.dataValues.nombre}}</td>
                <td>{{this.dataValues.stock}}</td>
                <td>${{this.dataValues.precio}}</td>
                <td>
                    <input type="checkbox" name="ingrediente" value="{{this.dataValues.id}}">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<button class="category--btn" onclick="getIngredientes({{producto.dataValues.id}})">guardar</button>
<script src="/js/administrador/admin-producto-ingrediente.js"></script>
{{> footer}}